@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --width-mobile: 375px;
  --width-desktop: 1440px;

  --c-white: hsl(0, 0%, 100%);
  --c-lgray: hsl(212, 45%, 89%);
  --c-grblue: hsl(220, 15%, 55%);
  --c-dblue: hsl(218, 44%, 22%);

  --ff-desc: "Outfit", sans-serif;

  --fw-title: 700;
  --fw-desc: 400;
}

body {
  background: var(--c-lgray);
  font-family: var(--ff-desc);
}

.container {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  padding: 15px;
  width: 250px;
  height: auto;
  flex-direction: column;
  background: var(--c-white);
  align-items: center;
  border-radius: 20px;
}

.qr {
  width: 250px;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin: 0;
  padding: 0 15px;
  color: var(--c-dblue);
  font-weight: var(--fw-title);
  font-size: 18px;
}

.desc {
  text-align: center;
  margin: 0;
  padding: 0 15px 15px 15px;
  font-size: 14px;
  color: var(--c-grblue);
  font-weight: var(--fw-desc);
}
